nav a.active,
a.home-active {
  background-color: #0ecfcf;
  text-decoration: underline;
  font-weight: bold;
  color: #5f5d5b;
}

.show, .show-t {
  display: block;
}

.hide, .hide-t {
  display: none;
}
